<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link type="text/css" rel="stylesheet" href="../content/bootstrap/css/boostrap.min.css">
    <link type="text/css" rel="stylesheet" href="../content/css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <p>Your sentence: <span></span></p>
        <p>Your word to count: <span></span></p>
        <p>Your word appeared <span>@Model.CountRepeats()<span> times.</p>
      </div>
      <a href="/">Home</a>
    </div>
  </body>
</html>
